<h1>Menu</h1>
<div class="btn-group btn-group-sm" role="group" aria-label="...">
	<%= link_to 'ALL', menu_path, class: "btn btn-default #{'btn-primary' if params[:section_id].nil?}" %>
	<% @sections.each do |section| %>
		<%= link_to section.name, menu_path(section_id: section.id), class: "btn btn-default #{active_class(menu_path(section_id: section.id))}" %>
	<% end %>
</div>
<p>
<%= form_tag nil, method: 'get', class: "form-inline" do %>
	<%= hidden_field_tag :section_id, params[:section_id] %>
	<%= select_tag :sort_column, options_for_select([ ['Name', 'name'], ['Price', 'price'] ]), class: "form-control" %>
	<%= select_tag :sort_direction, options_for_select([ ['Ascending', 'asc'], ['Descending', 'desc'] ]), class: "form-control" %>
	<%= submit_tag "Sort", class: "btn btn-default" %>
<% end %>
</p>
<% if @food_items.size == 0 %>
     <p class="text-center"> No item to display</p>
     <% else %>
     	<% @food_items.each do |item| %>
			<p><strong>name:</strong> <%= item.name %></p>
			<p><strong>description:</strong> <%= item.description %></p>
			<p><strong>price:</strong> <%= number_to_currency(item.price) %></p>
			<p><strong>section:</strong> <%= Section.find(item.section_id).name %></p>
			<p><strong>Image:</strong> <%= image_tag(item.image_url.to_s, width: "450") %></p>
			<hr>
		<% end %>
<% end %>