<h1>Menu</h1>
<div class="btn-group btn-group-sm" role="group" aria-label="...">
	<% @sections.each do |section| %>
		<%= link_to section.name, menu_path(section_id: section.id), class: "btn btn-default #{active_class(menu_path(section_id: section.id))}" %>
	<% end %>
</div>

<% @current_section.food_items.each do |item| %>
	name: <%= item.name %>
	description: <%= item.description %>
	price: <%= number_to_currency(item.price) %>
	description: <%= item.price %>
	section: <%= Section.find(item.section_id).name %>
<% end %>