<h1>Menu</h1>
<div class="btn-group btn-group-sm" role="group" aria-label="...">
	<%= link_to 'ALL', menu_path, class: "btn btn-default #{'btn-primary' if params[:section_id].nil?}" %>
	<% @sections.each do |section| %>
		<%= link_to section.name, menu_path(section_id: section.id), class: "btn btn-default #{active_class(menu_path(section_id: section.id))}" %>
	<% end %>
</div>
<br>
<% if @food_items.size == 0 %>
     <p class="text-center"> No item to display</p>
    <% else %>
    	<% if params[:section_id].present? %>
    		<% @current_section.food_items.each do |item| %>
				<p><strong>name:</strong> <%= item.name %></p>
				<p><strong>description:</strong> <%= item.description %></p>
				<p><strong>price:</strong> <%= number_to_currency(item.price) %></p>
				<p><strong>description:</strong> <%= item.price %></p>
				<p><strong>section:</strong> <%= Section.find(item.section_id).name %></p>
				<p><strong>Image:</strong> <%= image_tag(item.image_url.to_s, width: "450") %></p>
				<hr>
			<% end %>
    	<% else %>
			<% @food_items.each do |item| %>
				<p><strong>name:</strong> <%= item.name %></p>
				<p><strong>description:</strong> <%= item.description %></p>
				<p><strong>price:</strong> <%= number_to_currency(item.price) %></p>
				<p><strong>description:</strong> <%= item.price %></p>
				<p><strong>section:</strong> <%= Section.find(item.section_id).name %></p>
				<p><strong>Image:</strong> <%= image_tag(item.image_url.to_s, width: "450") %></p>
				<hr>
			<% end %>
    	<% end %>
<% end %>